<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

<h2>Edit Profile Information</h2>

  <%= form.fields_for :profile do |profile_form| %>

    <div>
      <%= profile_form.label :banner %>
      <%= profile_form.file_field :banner %>
    </div>

    <div>
      <%= profile_form.label :pfp %>
      <%= profile_form.file_field :pfp %>
    </div>

    <div>
      <%= profile_form.label :bio %>
      <%= profile_form.text_area :bio %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Update Profile"%>
  </div>
<% end %>
