<div id="<%= dom_id user %>">

  <% if @user.profile.present? %>
    <p>
      <%= image_tag @user.profile.banner.attached? ? url_for(@user.profile.banner) : asset_path('default_profile_pic.jpg'), class: "banner-img img-thumbnail", alt: "Banner Picture" %>
    </p>

    <p>
      <%= image_tag @user.profile.pfp.attached? ? url_for(@user.profile.pfp.variant(resize_to_limit: [150, nil])) : asset_path('default_profile_pic.jpg'), class: "img-thumbnail", alt:"Profile Picture", width: "150" %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= user.username %>
    </p>

    <p>
      Description: <%= @user.profile.bio%>
    </p>

  <% else %>
    <p>
      <strong>Username</strong>
      <%= user.username%>
    </p>

    <p>
      No profile information available
    </p>
  <% end %>

</div>
