<p style="color: green"><%= notice %></p>

<%= render @user %>

<h2>Posts</h2>
<% for post in @user.feed_items %>
    <ul>
      <li><%= post.body %></li>
  </ul>
<% end %>

<div>
  <%= link_to "Edit Profile", edit_user_path(@user) %> |
  <%= link_to "New Post", user_feed_items_path(@user) %> |
  <%= link_to "Back to For You", root_path %>

  <%= button_to "Delete this user", @user, method: :delete %>
</div>
