<p style="color: green"><%= notice %></p>

<%= render @user %>

<h2>Posts</h2>
<% for post in @user.feed_items %>
    <ul>
      <li><%= post.body %></li>
  </ul>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "New Feed Item", user_feed_items_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
